.navbar {
  display: flex;
  justify-content: space-between; /* izquierda / derecha */
  align-items: center;
  background-color: #1f2937; /* gris oscuro */
  padding: 12px 24px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #60a5fa;
}

.active {
  border-bottom: 2px solid #60a5fa;
}
